@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
  --heading-font: "Poppins", sans-serif;
  --body-font: "Poppins", sans-serif;
  --primary-color: #000000;
  --border-radius: 4px;
  --contrast-color: white;
  --fun-color-pink: rgb(250, 136, 235);
  --fun-color-green: rgb(178, 245, 124);
}
