@import "reset.css";
@import "settings.css";
@import "typography.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.logo,
.mobile-nav {
  height: 24px;
  margin: 3px;
}

.mobile-nav {
  margin-right: 10px;
}

.logo {
  margin-left: 10px;
}

.logo:hover {
  transform: translateY(-1px);
}

.mobile-dropdown a {
  font-size: 10px;
  font-family: "Poppins";
  text-decoration: none;
  color: white;
  background-color: var(--fun-color-pink);
  display: block;
  width: 100vw;
  text-align: center;
  padding: 7px;
}

.mobile-dropdown a:hover {
  text-decoration: underline;
}

.mobile-dropdown {
  display: none;
}

.desktop-nav {
  display: none;
}

.mobile-nav:hover .mobile-dropdown {
  z-index: 20;
  position: absolute;
  display: block;
  top: 22px;
  right: 0;
}

.mobile-nav:hover img {
  position: absolute;
  right: 10px;
}

.mobile-nav-container {
  background-color: var(--fun-color-pink);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
}

.rocket-zone {
  height: 400px;
  background-image: url("/imgs/bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intro-heading {
  padding: 30px 10px;
}

.intro-subheading {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid white;
}

.grey-box {
  background-color: rgba(71, 69, 69, 0.5);
  padding: 10px;
  margin-top: 30px;
  display: block;
  margin: 0;
  color: white;
}

.intro-content p {
  padding: 10px 0;
  line-height: 15px;
}

.features {
  position: relative;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-container {
  box-shadow: 1px 1px 5px grey;
  padding: 15px;
  text-align: center;
  height: 200px;
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature-container > p {
  padding: 20px 0;
}

.feature-container > img {
  padding-bottom: 20px;
}

.feature-container > button {
  width: 100%;
  background-color: var(--fun-color-pink);
  color: var(--contrast-color);
  padding: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.advantages {
  background-color: rgb(71, 69, 69);
  padding: 20px;
  height: 300px;
  position: relative;
}

h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.advantages > p {
  color: white;
  line-height: 20px;
}

.advantages > h3 {
  color: white;
}

.animated-box-thing {
  position: absolute;
  top: 295px;
  left: 20px;
  height: 80px;
  width: 160px;
  background-color: rgb(71, 69, 69);
  border: 5px solid white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  transition: 2s;
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animated-box-thing > h4 {
  color: var(--fun-color-pink);
}

.animated-box-thing > p {
  color: white;
}

.animated-box-thing:hover {
  left: 80px;
  animation: turn 4s;
}

.products > h3 {
  color: white;
}

.products {
  background-image: linear-gradient(
    to right,
    var(--fun-color-pink),
    var(--fun-color-green)
  );
  height: 300px;
  text-align: right;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.gallery > div {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.gallery > div > img {
  position: relative;
  height: 300px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.gallery p {
  display: none;
}

.gallery > div:hover p {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50%;
  bottom: 50%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black;
  opacity: 1;
}

.gallery > div:hover img {
  opacity: 0.8;
  transform: scale(1.05);
}

.scream-cat {
  margin-bottom: 30px;
}

.register {
  text-align: center;
  display: block;
  margin: auto;
  color: black;
  width: 200px;
}

.register .email {
  padding: 10px;
  height: 28px;
}

footer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins";
  font-size: 8px;
  margin: 0;
  padding-bottom: 40px;
}

footer a {
  color: rgb(71, 69, 69);
  padding: 5px;
  text-decoration: none;
  line-height: 15px;
}

.register p {
  color: black;
}

.email {
  display: flex;
  border-radius 3px;
}

.email label {
  display: none;
}

input:focus {
    background-color: rgb(250, 136, 235, 0.5)
}

.footer-links a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  /* Desktop styles */

  .mobile-nav-container {
    display: none;
  }

  .desktop-nav-container {
    background-color: var(--fun-color-pink);
    position: fixed;
    height: 33px;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
  }

  .desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Poppins";
    font-size: 8px;
  }

  .desktop-nav a:hover {
    text-decoration: underline;
  }

  .logo {
    padding-right: 200px;
  }

  .nav-link {
    padding-top: 12px;
  }

  .desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .links a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 10px;
  }

  .links a:hover {
    text-decoration: underline;
  }

  .gallery > div {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: calc(100% / 3);
    overflow: hidden;
  }

  .welcome-container {
    border: 3px solid white;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
  }

  .intro-heading,
  .intro-subheading,
  .intro-content {
    margin-left: 20px;
    margin-right: 20px;
  }
}
